<!DOCTYPE html>
<html>
  <head>
    <title>AppFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
  <div class="container" style = "padding-top: 5rem">

    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>" role = "alert"> <%= msg %></div>
    <% end %>

    <% if logged_in? %> 
      <%= link_to "Profile", user_path(current_user.id) %> 
      <%= link_to "Se deconnecter", session_path(current_user.id), method: :delete %> 
    <% else %> 
      <%= link_to "S'inscrire", new_user_path %> 
      <%= link_to "Se connecter", new_session_path %> 
    <% end %> 

    <%= yield %>

  </div>

  <footer class="bg-primary text-white">
    <div class="text-center p-3">
      © Dive into code ~ Août 2021 <br>
      Copyright: <a class="text-white" href="http://bit.ly/EmiG">Emile GBENONCHI</a>
    </div>
  </footer>

  </body>
</html>
